<div class="container mt-5">
    <div class="card mb-2 mx-auto" style="max-width: 1000px;">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img class="img-fluid border p-4" src={{listOfProductDetails.image}} alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body mt-5" >
                    <h3 class="card-title text-center font-weight-bold">{{listOfProductDetails.title}}</h3>
                    <p class="card-text text-center text-muted">{{listOfProductDetails.description}}</p>
                    <h5 class="card-text text-center font-italic">${{listOfProductDetails.price}}</h5>
                </div>
            </div>
        </div>
    </div>
</div>